{% extends 'base.html' %}

{% load static %}

{% block title %}Forms - CropPulse{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<h2>Select a Form</h2>

<div class="forms-buttons">
    <a href="#" class="form-button">Agro-1</a>
    <a href="#" class="form-button">Agro-2</a>
    <a href="#" class="form-button">Agro-3</a>
    <a href="#" class="form-button">Agro-4</a>
    <a href="#" class="form-button">Agro-5</a>
    <a href="#" class="form-button">Agro-6</a>
    <a href="#" class="form-button">Agro-7</a>
    <a href="#" class="form-button">Agro-18</a>
    <a href="#" class="form-button">Agro-19</a>
</div>
{% endblock %}
